# Anonymise Places

In this notebook I illustrate how to identify and anonymise places in Python, without the usage of NLP techniques, such as Named Entity Recognition.
Places identification is based on a gazetteer,which is built from the [Geonames Database](http://www.geonames.org/). Geonames is a Web service, containing (almost) all the places in the world. The Geonames database can be donwloaded for free. You can download the full database, covering all the world countries, or only one specific country. The download page is available at this [link]((https://download.geonames.org/export/dump/))


Import gazetteer from Geonames

In [66]:
import pandas as pd

df = pd.read_csv('source/IT.txt', sep='	', header=None)
df.head()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,781057,Fosso di San Antonio,Fosso di San Antonio,NaN,41.48333,27.76667,H,STM,IT,NaN,0.0,NaN,NaN,NaN,0,NaN,171,Europe/Rome,1993-12-10
1,781059,Colognole,Colognole,NaN,43.50972,10.44833,P,PPL,IT,NaN,16.0,LI,49008.0,NaN,128,210.0,208,Europe/Rome,2014-01-19
2,781060,Casale Sant'Antonio,Casale Sant'Antonio,NaN,44.61907,11.02235,P,PPL,IT,NaN,5.0,MO,36006.0,NaN,59,NaN,35,Europe/Rome,2014-05-04
3,2522617,Graham Island,Graham Island,"Banco Graham,Banco Grahm,Ferdinandea Bank,Ferd...",37.14266,12.88126,U,SHLU,IT,NaN,15.0,NaN,NaN,NaN,0,NaN,-9999,NaN,2021-04-27
4,2522676,Zungti,Zungti,NaN,38.65000,15.98333,P,PPL,IT,NaN,3.0,VV,102050.0,NaN,0,NaN,511,Europe/Rome,2011-09-11

In [67]:
gaz = df[1]
gaz = gaz.tolist()

In [68]:
len(gaz)

119539

In [69]:
from nltk import ngrams
import re

def get_places(txt):
    txt = re.sub(r"[^\w\d'\s]+",'',txt)
    n = 5
    places = []
    # remove punctuation
    for i in range(n,0,-1):
        tokens = ngrams(txt.split(), i)
        for t in tokens:
            token = " ".join(t)
            try:
                res = gaz.index(token)
            except ValueError:
                continue
            if res:
                places.append(token)
                txt = txt.replace(token,"")
    return places

In [70]:
txt = 'Oggi sono andata a Roma e a Macerata, poi sono passata da San Severino Lucano, San Severino Marche e Francavilla in Sinni'
get_places(txt)

['San Severino Lucano',
 'San Severino Marche',
 'Francavilla in Sinni',
 'Roma',
 'Macerata']

In [73]:
def anonymise_places(txt):
    temp_txt = re.sub(r"[^\w\d'\s]+",'',txt)
    n = 5
    places = []
    # remove punctuation
    for i in range(n,0,-1):
        tokens = ngrams(temp_txt.split(), i)
        for t in tokens:
            token = " ".join(t)
            try:
                res = gaz.index(token)
            except ValueError:
                continue
            if res:
                places.append(token)
                txt = txt.replace(token,"X")
    return txt

In [74]:
txt = 'Oggi sono andata a Roma e a Macerata, poi sono passata da San Severino Lucano, San Severino Marche e Francavilla in Sinni'
anonymise_places(txt)

'Oggi sono andata a X e a X, poi sono passata da X, X e X'

In [108]:
import gradio as gr

iface = gr.Interface(
    anonymise_places,
    gr.inputs.Textbox(placeholder="Enter sentence here..."),
    gr.outputs.HTML(),
    examples=[
        ["Roma è la capitale d'Italia"],
        ["Dove vai? A Volterra."],
    ]
)

In [109]:
iface.launch()

Running locally at: http://127.0.0.1:7913/
To create a public link, set `share=True` in `launch()`.
Interface loading below...

(<Flask 'gradio.networking'>, 'http://127.0.0.1:7913/', None)

In [128]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException


options = Options()
options.add_argument('headless')
options.add_argument('--lang=it')

def is_place(txt):
    driver = webdriver.Chrome(options=options)
    driver.get("https://www.geonames.org/search.html?q=" + txt)
    try:
        record = driver.find_element_by_xpath("//tbody/tr[3]/td[2]/a[1]").click() #click del primo link che trovo
    except NoSuchElementException:
        driver.close()
        return False
    driver.close()
    return True

In [129]:
def anonymise_places_improved(txt):
    temp_txt = re.sub(r"[^\w\d'\s]+",'',txt)
    n = 5
    places = []
    # remove punctuation
    for i in range(n,0,-1):
        tokens = ngrams(temp_txt.split(), i)
        for t in tokens:
            token = " ".join(t)
            try:
                res = is_place(token)
            except ValueError:
                continue
            if res:
                places.append(token)
                txt = txt.replace(token,"X")
    return txt

In [137]:
df_all = pd.read_csv('source/places.csv')
df_all.head()

   Unnamed: 0                        1
0           0       Pic de Font Blanca
1           1                 Roc Mélé
2           2     Pic des Langounelles
3           3     Pic de les Abelletes
4           4  Estany de les Abelletes

In [140]:
gaz_all = df_all['1']
gaz_all = gaz_all.tolist()

In [142]:
def anonymise_places_all(txt):
    temp_txt = re.sub(r"[^\w\d'\s]+",'',txt)
    n = 5
    places = []
    # remove punctuation
    for i in range(n,0,-1):
        tokens = ngrams(temp_txt.split(), i)
        for t in tokens:
            token = " ".join(t)
            try:
                res = gaz_all.index(token)
            except ValueError:
                continue
            if res:
                places.append(token)
                txt = txt.replace(token,"X")
    return txt

In [ ]:
txt = 'Oggi sono andata a Roma e a Macerata, New York, Parigi poi sono passata da San Severino Lucano, San Severino Marche e Francavilla in Sinni'
anonymise_places_all(txt)